<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/adminHome.css">


  <title>Milkies Admin</title>
</head>

<%- include('../partials/navbar.ejs') %>

<body class="admin-body">
  <section class="body">

    <h1>Admin Page</h1>
    <div class="links-con">

      <a class="link" href="/admin/new">Add Product</a>
      <a class="link" href="/menu">Edit Products</a>
      <a class="link" href="/admin/orders">All Orders</a>
    </div>
      
  </section>
</body>
</html>