<nav>
  <a href="/">Milkies</a>
<% if (id && user.isAdmin){ %> 
  <a href="/admin">Admin</a>
  <% } %> 
  <a href="/menu">Menu</a>
  <a href="/user/cart">Cart</a>
  <a href="/user">My Account</a>
  <%if(!id){%>
    <a href="/user/login">Login</a>
    <%} else {%>
      <form action="/user/logout" method="POST">
        <button>Logout</button>
      </form>
      <%}%>
</nav>