<nav class="topnav">
  <div class="dropdown">
    <button class="dropbtn">MENU</button>

    <div class="dropdown-content">
    <div class="menu-text"><a class="menu-item" href="/menu">OUR DRINKS</a></div>
    <% if (id && !user.isAdmin){ %>
      <a href="/user">MY ACCOUNT</a>
      <% } %>
      <% if (id && user.isAdmin){ %>
        <a href="/admin">ADMIN</a>
        <% } %>
        <%if(!id){%>
          <a href="/user/login">LOGIN</a>
          <%} else {%>
              <form action="/user/logout" method="POST">
                <button class="logout-btn">LOGOUT</button>
              </form>
            <%}%>
  
          </div>
          </div>

  <div class="menu-middle">
    <a href="/"><img class='navbar-logo' src="/images/logo.png" alt=""></a>
  </div>

    <div class="menu-right">
      <% if (id && !user.isAdmin){ %>
        <a href="/user/cart" class="split">CART</a>
        <% } %>
    </div>
</nav>