
    <h1>My Account :-)</h1>
    <div> Last Name: <%= user.lastName%>
    </div>
    <div> Phone Number: <%= user.phoneNumber%>
    </div>
    <div> Email: <%= user.email%>
    </div>
    <div> Previous Orders: <%= user.previousOrders%>
    </div>


