.cart-body{
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

.cart{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-btn {
 color: #dc3545;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0;
  background-color: transparent;
}

.delete-btn:hover{
  cursor: pointer;
}

.card-text {
  font-weight: 300;
}

#order-title {
  margin-bottom: 50px;
  margin-top: 50px;
}

h5.card-title{
  margin: 0;
  font-size: 18px;
}

.card {
  background-color: #f5f5f5;
  border: none;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-body{
  width: 500px;
}

.empty-msg{
  text-align: center;
  margin-top: 150px;
}

h2{
  font-size: 20px;
  margin-bottom: 20px;
}

.checkout-btn{
text-decoration: none;
  margin-top: 10px;
  background-color: #f0d42c;
  border: 1px solid #f0d42c;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  color: black;
  font-weight: 300;
  margin-bottom: 80px;
}
.checkout-btn:hover{
  color: black;
}

.back{
text-decoration: none;
padding: 5px 20px;
background-color: #f0d42c;
border: 1px solid #f0d42c;
border-radius: 5px;
color: black;
}

@media only screen and (max-width: 600px) {
  .card{
    width: 80%;
    margin: 0px 20px;
  }
.card-body{
  width: 100%;
}
  .card-text{
    width: 90%;
  }
  }