.account-body{
  margin:0;
  font-family: 'Noto Sans JP', sans-serif;
}

h1{
text-align: center;
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info{
  width: 30%;
}

input{
  padding: 5px;
  width: 300px;
}

.input{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

section.info{
  margin-top: 50px;
  width: 500px;
}

.input-field{
  width: 90%;
}

#first_name_input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

#last_name_input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

#phone-number_input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.update-first_name{
  font-family: 'Noto Sans JP', sans-serif;
  width: 80px;
  background-color: #f0d42c;
  border: 1px solid #f0d42c;
  border-radius: 5px;
  padding: 5px 0px;
  text-align: center;
  margin-right: 0px;
}

.update-last_name{
  font-family: 'Noto Sans JP', sans-serif;
  width: 80px;
  background-color: #f0d42c;
  border: 1px solid #f0d42c;
  border-radius: 5px;
  padding: 5px 0px;
  text-align: center;
  margin-right: 0px;
}

.update-phone_number{
  font-family: 'Noto Sans JP', sans-serif;
  width: 80px;
  background-color: #f0d42c;
  border: 1px solid #f0d42c;
  border-radius: 5px;
  padding: 5px 0px;
  text-align: center;
  margin-right: 0px;
}

#edit-first_name{
  font-family: 'Noto Sans JP', sans-serif;
  width: 73px;
  background-color: #449c67;
  border: 1px solid #449c67;;
  color: white;
  border-radius: 5px;
  padding: 5px 0px;
  text-align: center;
  margin-right: 0px;
  margin-left: 200px;
}

#edit-last_name{
  font-family: 'Noto Sans JP', sans-serif;
  width: 73px;
  background-color: #449c67;
  border: 1px solid #449c67;;
  color: white;
  border-radius: 5px;
  padding: 5px 0px;
  text-align: center;
  margin-right: 0px;
  margin-left: 200px;
}

#edit-phone_number{
  font-family: 'Noto Sans JP', sans-serif;
  width: 73px;
  background-color: #449c67;
  border: 1px solid #449c67;;
  color: white;
  border-radius: 5px;
  padding: 5px 0px;
  text-align: center;
  margin-right: 0px;
  margin-left: 200px;
}

.edit-below{
  font-size: 20px;
}

.past-orders{
  margin: 50px 0px;
  display: flex;
  justify-content: center;
}

.past-orders-link{
  text-decoration: none;
  margin-top: 10px;
  background-color: #f0d42c;
  border: 1px solid #f0d42c;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  color: black;
  font-weight: 300;
  margin-bottom: 80px;
}

.past-orders-link:hover{
color: white;
}

.btn-con{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-field{
  width: 90%;
}

#firstName{
  width: 80%;
}

#lastName{
  width: 80%;
}

#phoneNumber{
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .info{
    width: 70%;
    padding: 0px 20px;
  }

  #edit-first_name{
    min-width: 73px;
    height: 30px;
    margin-left: 0;
  }
  #edit-last_name{
    min-width: 73px;
    height: 30px;
    margin-left: 0;

  }
  #edit-phone_number{
    min-width: 73px;
    height: 30px;
    margin-left: 0;

  }

  .first_name_input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .input-tag{
    font-size: 15px;
    width: 90%;
  }
}