<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/404.css">

  <title>Milkies</title>
</head>
<body class="error-body">
  <%- include('../partials/navbar.ejs') %>

<h1 class="error-h1">404 ERROR</h1>
<h2 class="error-h2">You found a page that does not exist. Go back to <a href="/menu">menu</a>.</h2>
</body>
</html>