<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/register.css">

  <title>Milkies</title>

</head>

<body class="register-body">
  <%- include('../partials/navbar.ejs') %>
    <container>
      <form action="/user/register" method="POST">
        <h1 class="login">CREATE ACCOUNT</h1>
        <p class="login-text">Please fill in the information below</p>
        <input type="text" placeholder="FIRST NAME" name="firstName" id="firstName">
        <input type="text" placeholder="LAST NAME" name="lastName" id="lastName">
        <input type="text" placeholder="PHONE NUMBER" name="phoneNumber" id="phoneNumber">
        <input type="email" placeholder="EMAIL" name="email" id="email">
        <input type="password" placeholder="PASSWORD" name="password" id="password">
        <button class="login-btn">CREATE ACCOUNT</button>
      </form>
    </container>

</body>

</html>